@inject Blazored.LocalStorage.ILocalStorageService localStore


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ClientApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Hjem
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="OpretAnnoncePage    ">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Opret Annonce
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="annoncer    ">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Alle Annoncer
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Mine_annoncer    ">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Mine annoncer
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Mine_køb    ">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Mine køb
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Tilføj_Lokaler    ">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Tilføj Lokaler
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Alle_Lokaler    ">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Alle Lokaler
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Login    ">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Login
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}