@page "/annoncer"
@attribute [Authorize]
@using Core.Models
@using ClientApp.Service
@using ClientApp.Components
@using System.Linq
@inject UserState UserState

@if (aktiveAnnoncer == null)
{
    <p>Loader annoncer...</p>
}
else if (!aktiveAnnoncer.Any())
{
    <p>Ingen aktive annoncer.</p>
}
else
{
    <div class="annonce-grid">
        @foreach (var a in aktiveAnnoncer)
        {
            <AnnonceBox Annonce="a" OnKøb="Køb" />
        }
    </div>
}

@code {
    [Inject] private IAnnonce annonceService { get; set; }

    private List<Annonce> aktiveAnnoncer;

    protected override async Task OnInitializedAsync()
    {
        var result = await annonceService.GetAll();

        Console.WriteLine("ANTAL ANNONCER FRA SERVER: " + result.Count());
        
        aktiveAnnoncer = result
            .Where(a => a.Status == "aktiv")
            .ToList();
    }
    
    private async Task Køb(Annonce selectedannonce)
    {
        string newStatus = "reserveret";
        Console.WriteLine("Prøvede at sende købsanmodning");
        if (selectedannonce != null)
        {
                selectedannonce.Status = newStatus;
                if (UserState.CurrentUser != null)
                {
                selectedannonce.Køber_Id = UserState.CurrentUser.Id;
                }
                await annonceService.UpdateAnnonce(selectedannonce);
        }
        StateHasChanged();
    }
    
    private void Luk()
    {
      
        modalWindow = false;
    }
    
    [Inject] public HttpClient Http { get; set; }
  
    [Inject] public PurchaseState PurchaseState { get; set; }
    
    bool modalWindow = false;
    string selectedId;
    
}
