@using Core.Models
@using ClientApp.Service

<h3>Annoncer</h3>

@if (Annonce == null)
{
    <p>Loader annoncer...</p>
}
else if (!Annonce.Any())
{
    <p>Ingen aktive annoncer.</p>
}
else
{

    @foreach (var a in Annonce)
    {
        <div class="annonce-card">
            <img src="@a.Image" width="200"/>
            <h3>@a.Description</h3>
            <p>@a.Price kr.</p>

            <button @onclick="() => Køb(a.Id)">KØB</button>
        </div>
    }
}

@if (modalWindow)
{
    <div class="modal">
        <div class="modal-content">
            <h4>Du har valgt annonce: @selectedId</h4>
            <button @onclick="Luk">Luk</button>
        </div>
    </div>
}

@code {
    bool modalWindow = false;
    string selectedId;

    [Inject] private IAnnonce annonceService { get; set; }

    Annonce[] Annonce;

    private void Køb(string id)
    {
        selectedId = id;
        modalWindow = true;

    }

    private void Luk()
    {

        modalWindow = false;
    }

    protected override async Task OnInitializedAsync()
    {
        Annonce = await annonceService.GetAll();
    }

}

