@page "/annoncer"
@using Core.Models
@using ClientApp.Service
@using ClientApp.Components
@using System.Linq

@if (aktiveAnnoncer == null)
{
    <p>Loader annoncer...</p>
}
else if (!aktiveAnnoncer.Any())
{
    <p>Ingen aktive annoncer.</p>
}
else
{
    <div class="annonce-grid">
        @foreach (var a in aktiveAnnoncer)
        {
            <AnnonceBox Annonce="a" OnKøb="Køb"/>
        }
    </div>
}

@code {
    [Inject] private IAnnonce annonceService { get; set; }

    private List<Annonce> aktiveAnnoncer;

    protected override async Task OnInitializedAsync()
    {
        var result = await annonceService.GetAll();

        Console.WriteLine("ANTAL ANNONCER FRA SERVER: " + result.Count());
        
        aktiveAnnoncer = result
            .Where(a => a.Status == "aktiv")
            .ToList();
    }
    
    private async Task Køb(string id)
    {
        selectedId = id;
        modalWindow = true;
        var requestId = await PurchaseApi.SendAsync(Http, id, 1);
        PurchaseState.Add(requestId);

    }
    
    private void Luk()
    {
      
        modalWindow = false;
    }
    
    [Inject] public HttpClient Http { get; set; }
  
    [Inject] public PurchaseState PurchaseState { get; set; }
    
    bool modalWindow = false;
    string selectedId;
    
}
