@using Core.Models
@using ClientApp.Service

<h3>Annoncer</h3>


@foreach (var a in annonceliste)
{
    <div class="annonce-card">
        <img src="@a.Image" width="200" />
        <h3>@a.Description</h3>
        <p>@a.Price kr.</p>

        <button @onclick="() => Køb(a.Id)">KØB</button>
    </div>
}

@code {
    bool modalWindow = false;
    string selectedId;
    
    [Inject]
    private IAnnonce annonceService { get; set; }

// fake data indtil backend er klar
    List<Annonce> Annonce = new()
    {
        new() { Description = "Sort Jakke", Price = 150, Image = "" },
        new() { Description = "Taske", Price = 80, Image = "" }
    };

    Annonce[] annonceliste;
    
    private void Køb(string id)
    {
        selectedId = id;
        modalWindow = true;
        
    }

    private void Luk()
    {
      
        modalWindow = false;
    }
    
    protected override async Task OnInitializedAsync()
    {
      annonceliste =  await annonceService.GetAll();
    }
}

