@page "/Annoncer"
@using Core.Models
@using ClientApp.Service
@using ClientApp.Components
@using System.Linq
@inject HttpClient Http
@inject PurchaseState PurchaseState
@inject NavigationManager NavigationManager

<h3>Aktive annoncer</h3>

@if (aktiveAnnoncer == null)
{
    <p>Loader annoncer...</p>
}
else if (!aktiveAnnoncer.Any())
{
    <p>Ingen aktive annoncer.</p>
}
else
{
    @foreach (var a in aktiveAnnoncer)
    {
        <Annoncecomponent Item="a" IsEdit="false" />
    }
}

@code {
    [Inject] private IAnnonce annonceService { get; set; }
    bool modalWindow = false;
    string selectedId;
    
    [Inject]
    private IAnnonce annonceService { get; set; }
    

    private Annonce[] aktiveAnnoncer;

    Annonce[] annonceliste = Array.Empty<Annonce>();
  
    private async Task Køb(string id)
    {
        selectedId = id;
        modalWindow = true;
        var requestId = await PurchaseApi.SendAsync(Http, id, 1);
        PurchaseState.Add(requestId);

    }

    private void Luk()
    {
      
        modalWindow = false;
    }
    
    protected override async Task OnInitializedAsync()
    {
      annonceliste =  await annonceService.GetAll();
    }
}

