@page "/Tilføj_Lokaler"
@using Core.Models
@using ClientApp.Service

<h3>Tilføj_Lokaler</h3>

<EditForm Model="@lokale" OnValidSubmit="@HandleSubmit" class="row p-3">
    <DataAnnotationsValidator />
    <ValidationSummary />
    
    <div class="col-md-12 mb-3">
        <label for="Name">Lokalenavn</label>
        <InputText id="Name" @bind-Value="lokale.Name" class="form-control" />
    </div>

    
    <div class="col-md-12 mb-3">
        <label for="Name">Lokation</label>
        <InputText id="Name" @bind-Value="lokale.Location" class="form-control" />
    </div>
    
    <div class="col-md-6 mb-3">
        <label for="Price">Bemanding</label>
        <InputText id="Price" @bind-Value="lokale.Bemanding" class="form-control" />
    </div>
    
    <InputSelect @bind-Value="lokale.Åbningstid">
        @foreach (var cat in åbningstidcategories)
        {
            <option value="@cat">@cat</option>
        }
    </InputSelect>
    
    <div class="col-12 mb-3">
        <button type="submit" class="btn btn-primary" >Tilføj Lokale</button>
    </div>
    
    <div class="col-12 mb-3">
        <button type="reset" class="btn btn-primary">Reset</button>
    </div>
    
</EditForm> 


@code {
    [Inject] private ILokaler lokaleService { get; set; }

    Lokale lokale = new();

    private async Task HandleSubmit()
    {
        Console.WriteLine("prøvede at submit" + lokale);
        if (lokale != null)
        {
            await lokaleService.Add(lokale);
            lokale = new Lokale();
        }
    }
    
    List<string> åbningstidcategories = Enumerable
        .Range(0, 24)
        .Select(h => $"{h:00}:00 - {((h+1)%24):00}:00")
        .ToList();

}